{% extends 'base_app.html' %} {% block content %}
    <div class="page-header">
        <h2>{{ page_title }}</h2>
        <a href="{% url add_url_name %}" class="btn-add">Adicionar +</a>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_data %}
                <tr>
                    {% for field in item.fields %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    
                    <td class="actions">
                        <a href="{% url edit_url_name item.pk %}" class="btn-edit">Editar</a>
                        <a href="{% url delete_url_name item.pk %}" class="btn-delete">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ headers|length|add:1 }}">Nenhum item cadastrado ainda.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}