{% extends 'base.html' %}
{% block content %}
  <body class="image_and_text">
    <img src="{% static '004.jpg' %}" class="image_left_50_cent">
    <section class="login_area">
      <a class="title">FAÇA SEU LOGIN</a>
      <form action="send login" method="post">
        <div>
          <label for="email">EMAIL: </label>
          <input type="text" name="email" id="email" required />
        </div>
        <div>
          <label for="password">SENHA: </label>
          <input type="password" name="password" id="password" required />
        </div>
        <div>
          <input type="submit" value="ENVIAR" />
        </div>
      </form>
    </section>
  </body>
{% endblock %}