{% extends 'base_login.html' %}
{% load static %}
{% block content %}

<div class="login__area">
  <a class="title">FAÇA SEU LOGIN</a>

  <form action="{% url 'login' %}" method="post">

    {% csrf_token %}

    <div>
      <label for="email">EMAIL: </label>
      <input type="text" name="email" id="email" required />
    </div>
    <div>
      <label for="password">SENHA: </label>
      <input type="password" name="password" id="password" required />
    </div>
    <div>
      <input type="submit" value="ENVIAR" />
    </div>
  </form>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

</div>

<a href="login_create" class="crt_login_btn">CRIAR CONTA</a>

{% endblock %}