{% extends 'base_login.html' %}
{% load static %}
{% block content %}

<div class="login-container">

    <div class="login-image-column">
        </div>

    <div class="login-form-column">
    
        <div class="form-wrapper">
            <h1 class="title">CRIE SEU LOGIN</h1>
    
            <form action="{% url 'login_create' %}" method="post">
                {% csrf_token %}
    
                <div class="input-group">
                    <label for="email">EMAIL :</label>
                    <input type="text" name="email" id="email" required />
                </div>
                
                <div class="input-group">
                    <label for="password">SENHA :</label>
                    <input type="password" name="password" id="password" required />
                </div>
                
                <div class="input-group">
                    <label for="cf_password">CONFIRMAR SENHA :</label>
                    <input type="password" name="cf_password" id="cf_password" required />
                </div>
    
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                
                <div class="form-footer" style="justify-content: flex-end;"> <input type="submit" value="CRIAR" class="submit-btn" />
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}